
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Hero Name</th>
            <th>Power</th>
        </tr>
    </thead>
    <tbody>
    {{#each students}}
        <tr>
            <td>{{this.id}}</td>
            <td><a href="/student/{{this.id}}"">{{this.first_name}}</a></td>
            <td>{{this.last_name}}</td>
            <td>{{this.student_email}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.hero_name}}</td>
            <td>{{this.power}}</td>
        </tr>       
  	{{/each}}
    </tbody>
</table>
   



